body {
 background-color: #4a4a60;
}
article {
  font-family: Arial;
  color: #d8d8d6;
}
header {
background: #3f3f64;
  color: #d8d8d6;
  font-size: 12pt;
  font-family: Arial;
  font-weight: normal;
  height: 60;
  margin-left: -8;
  margin-right: -8;
  margin-top: -8;
  padding: 3;
}
img.logo {
margin-top: 5;
}
nav.menu {
margin-top: -18;
}
nav.docs {
margin-top: 5;
margin-left: 12;
}
a {
color: #ef9e0a;
}
a.menu {
text-decoration: none;
}
