
/*Цвет основного фона */
body {
 background-color: #4a4a60;
    
    font-family: Arial;
    margin: 0;

}

*{
    box-sizing: border-box;
} 

/*Цвет текста сканирования*/
article {
  font-family: Arial;
  color: #d8d8d6;
}

/*Шапка*/
header {
background: #3f3f64;
  color: #d8d8d6;
  font-size: 12pt;
  font-family: Arial;
  font-weight: normal;
  height: 95;
  margin-left: -8;
  margin-right: -8;
  margin-top: -8;
  padding: 3;


}

/* Column container */
.row {  
    display: flex;
    flex-wrap: nowrap;
height: 100%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 5%;
    background-color: #3f3f63;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: #d8d8d6;
    font-size: 13pt;
    font-family: Arial;
    font-weight: normal;
}

/* Main column */
.main {   
    flex: 95%;
    flex-wrap: nowrap;
    padding: 20px;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width:100%;
    }
}


/*Вертикальное меню*/
a.vertikalmenu {
    color: #ef9e0a;  
    text-decoration: none;

     margin-top: 60;
    margin-left: 5; 

}





img.logo {
margin-top: 15;
}





a.menu {
color: #ef9e0a;
text-decoration: none;

}
h3.article {
font-size: 24pt;
}
p.article {
font-size: 20pt;
}
div.leaf {
margin-top: 30;
}
nav.menu {
margin-top: -18;
}



.container-file {
    /* background-image: url("./pic/Fayl.png"); */
    /* align-content: center; */
    border: 1px solid #d8d8d6;
    border-radius: 4pt;
    width: 184px;
    /* height: 280px; */
    border-style: dashed;
    color: #d8d8d6;
    margin: auto;
}
.image_container {
    width: 183px;
    align: bottom;
    margin: 4px;
    padding-bottom: 6px;
}

.image-load {
    width: 90%;
    margin: auto;
    padding: 2px;
    padding-bottom: 0;
    border-radius: 4px;
    border-color: orange;
    border-style: groove;

}
.image-preview {
    width: 40%;
    padding: 2px;
    border-radius: 4px;
    border-color: white;
    border-style: none;
}





/*Вертикальная линия
.vertikalline {
  background: #3f3f64;
  color: #d8d8d6;
  font-size: 13pt;
  font-family: Arial;
  font-weight: normal;
  height: 1008%;
  margin-left: -2;
  margin-right: 93%;
  margin-top: -1;


}*/


/* .card{
    position:relative;display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-clip:border-box;
    border-radius:.25rem
}
.card-deck{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    margin-right:-15px;
    margin-left:-15px
}
.card-deck .card{
    -ms-flex:1 0 0%;
    flex:1 0 0%;
    margin-right:15px;
    margin-bottom:0;
    margin-left:15px
} */
/* .card>hr{margin-right:0;margin-left:0}
.card>.list-group{border-top:inherit;border-bottom:inherit}
.card>.list-group:first-child{border-top-width:0;border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px)}
.card>.list-group:last-child{border-bottom-width:0;border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px)}.card>.card-header+.list-group,.card>.list-group+.card-footer{border-top:0}
.card-body{-ms-flex:1 1 auto;flex:1 1 auto;min-height:1px;padding:1.25rem}.card-title{margin-bottom:.75rem}
.card-subtitle{margin-top:-.375rem;margin-bottom:0}
.card-text:last-child{margin-bottom:0}
.card-link:hover{text-decoration:none}
.card-link+.card-link{margin-left:1.25rem}
.card-header{padding:.75rem 1.25rem;margin-bottom:0;background-color:rgba(0,0,0,.03);border-bottom:1px solid rgba(0,0,0,.125)}
.card-header:first-child{border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0}
.card-footer{padding:.75rem 1.25rem;background-color:rgba(0,0,0,.03);border-top:1px solid rgba(0,0,0,.125)}.card-footer:last-child{border-radius:0 0 calc(.25rem - 1px) calc(.25rem - 1px)}.card-header-tabs{margin-right:-.625rem;margin-bottom:-.75rem;margin-left:-.625rem;border-bottom:0}.card-header-pills{margin-right:-.625rem;margin-left:-.625rem}
.card-img-overlay{position:absolute;top:0;right:0;bottom:0;left:0;padding:1.25rem;border-radius:calc(.25rem - 1px)}.card-img,.card-img-bottom,.card-img-top{-ms-flex-negative:0;flex-shrink:0;width:100%}.card-img,.card-img-top{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px)}
.card-img,.card-img-bottom{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px)}.card-deck .card{margin-bottom:15px}
@media (min-width:576px){.card-deck{display:-ms-flexbox;display:flex;-ms-flex-flow:row wrap;flex-flow:row wrap;margin-right:-15px;margin-left:-15px}.card-deck .card{-ms-flex:1 0 0%;flex:1 0 0%;margin-right:15px;margin-bottom:0;margin-left:15px}}.card-group>.card{margin-bottom:15px}
@media (min-width:576px){.card-group{display:-ms-flexbox;display:flex;-ms-flex-flow:row wrap;flex-flow:row wrap}.card-group>.card{-ms-flex:1 0 0%;flex:1 0 0%;margin-bottom:0}.card-group>.card+.card{margin-left:0;border-left:0}.card-group>.card:not(:last-child){border-top-right-radius:0;border-bottom-right-radius:0}
.card-group>.card:not(:last-child) .card-header,.card-group>.card:not(:last-child) .card-img-top{border-top-right-radius:0}.card-group>.card:not(:last-child) .card-footer,.card-group>.card:not(:last-child) .card-img-bottom{border-bottom-right-radius:0}.card-group>.card:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0}
.card-group>.card:not(:first-child) .card-header,.card-group>.card:not(:first-child) .card-img-top{border-top-left-radius:0}.card-group>.card:not(:first-child) .card-footer,.card-group>.card:not(:first-child) .card-img-bottom{border-bottom-left-radius:0}}.card-columns .card{margin-bottom:.75rem}
@media (min-width:576px){.card-columns{-webkit-column-count:3;-moz-column-count:3;column-count:3;-webkit-column-gap:1.25rem;-moz-column-gap:1.25rem;column-gap:1.25rem;orphans:1;widows:1}.card-columns .card{display:inline-block;width:100%}}.accordion{overflow-anchor:none}.accordion>.card{overflow:hidden}
.accordion>.card:not(:last-of-type){border-bottom:0;border-bottom-right-radius:0;border-bottom-left-radius:0}.accordion>.card:not(:first-of-type){border-top-left-radius:0;border-top-right-radius:0}.accordion>.card>.card-header{border-radius:0;margin-bottom:-1px} */
